body{
    background-image: url(http://www.crystalinks.com/ColosseumNight2.jpg);
}

#gamePage{
    background-color: white;
}

#clock{
    font-size: 50px;
}

#buttonStartDiv{
    text-align: center;
}

#button{
    font-size: 30px;
    background-color: red;
    color: white;
    margin: 10px;
}

#submitButton{
    font-size: 50px;
    background-color: blue;
    color: white;
    margin: 10px;
    align-content: center;
}

#startButton{
    font-size: 100px;
    background-color: red;
    padding: 20px;
    margin: 200px;
}

h1{
    text-align: center;
    font-size: 80px;
    color:white;
}

h1 span{
    background-color:red;
}

h3{
    text-align: center;
    font-size: 60px;
    color: darkblue;
    border: 3px;
}

p{
    font-size: 30px;
    text-align: center;
    background-color: red;
    
}

p span{
    background-color: red;
}

#p span{
column-width: 25%;
}


.hidden{
    display:none;
}

.unhidden{
    display:block;
}
